# practices with pandas and numpy

In [25]:
import pandas as pd 


data  ={"subject": ["mathematics", "physics","chemistry", "biology" ], "marks" :[45,50,54,56]}
df= pd.DataFrame(data)
df

       subject  marks
0  mathematics     45
1      physics     50
2    chemistry     54
3      biology     56

In [1]:
import sklearn 
sklearn.__version__

'1.1.1'